@use "../abstracts" as *;

.header {
    &__logo {
        position: absolute;
        top: rem(37);
        left: rem(40);
        width: rem(40);
        height: rem(35);

        @include media-query("medium") {
            top: rem(40);
            left: rem(40);
            width: rem(50);
            height: rem(45);
        }

        @include media-query("x-large") {
            top: rem(50);
            left: rem(70);
            width: rem(55);
            height: rem(50);
        }
    }

    &__info {
        position: absolute;
        top: rem(-4);
        left: rem(16);
        display: flex;
        width: rem(230);
        column-gap: rem(5);
        align-items: center;
        white-space: nowrap;

        @include media-query("medium") {
            top: rem(-3);
            left: rem(20);
            width: rem(300);
        }

        @include media-query("x-large") {
            top: rem(-5);
            left: rem(22);
        }
    }

    &__title {
        font-size: rem(26);
        letter-spacing: rem(0.5);
        font-family: font-family("primary");
        color: color("secondary");

        @include media-query("medium") {
            font-size: rem(30);
        }

        @include media-query("x-large") {
            font-size: rem(35);
        }
    }

    &__sub-title {
        font-size: rem(12);
        font-family: font-family("secondary");
        color: color("secondary");
        padding-top: rem(11.5);

        @include media-query("medium") {
            font-size: rem(13);
            padding-top: rem(12);
        }

        @include media-query("x-large") {
            font-size: rem(14);
            padding-top: rem(14);
        }
    }
}
