@font-face {
    font-family: "Abolition W00 Regular";
    src: url("../../fonts/Abolition-W00-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Industry Medium";
    src: url("../../fonts/Industry-Medium.ttf") format("truetype");
}
