:root {
    --ff-primary: "Abolition W00 Regular", sans-serif;
    --ff-secondary: "Industry Medium", sans-serif;
}

$font-family: (
    "primary": var(--ff-primary),
    "secondary": var(--ff-secondary),
);

$font-weights: (
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
);

$colors: (
    "primary": #6b2148,
    "secondary": #391d4d,
    "background": #eeedf1,
    "titlebg": #ebebeb,
    "white": #fff,
);

$breakpoints: (
    "small": 23.4375em /* 375px */,
    "medium": 48em /* 768px */,
    "large": 62em /* 992px */,
    "x-large": 75em /* 1200px */,
    "max-width": 90em /* 1440px */,
);

$max-width: map-get($breakpoints, "max-width");
